<!DOCTYPE html>
<html>

<head>
  <title>Home</title>

</head>
<body>
    <%- include ./common/header.ejs %>

    <div class="row h-100">
        <div class="col12 my-auto">
            <div class ="jumbotron bg-white">
                <article>
                    <p>Welcome to my Website</p>
                    <P>This site is not to show my Front-end abilites but rather my Back end capabilities as well.
                        Click around to explore. Learn a little about me, see my interests through my photography and read my posts as well on anything
                        going on in my life or research I am currently doing. 


                    </P>
                </article>
            </div>
        </div>
    </div>




</div>

<%- include ./common/footer.ejs %>
</body>

</html>